/*
 * 设置名片库列表界面（不包括滚动条）
 */
 
QListWidget
{
	background:transparent;
	border:none;
	margin: 5px;
}

QListWidget::item:selected
{
	background:transparent;
}

QListWidget::item:hover
{
	background:transparent;
}
